@charset "utf-8";

// ボックスリンク
.arkb-boxLink {
	position: relative;
}

.arkb-boxLink__title {
	display: block;
	font-weight: bold;
}

.arkb-boxLink__inner {
	position: relative;
	display: flex;
	flex-direction: column;
	color: inherit;
	color: #000;
	text-decoration: none;
	background-color: #fff;
	transition: box-shadow .25s;

	//   memo: .arkb-boxLinkが単体の時に100%になっているとバグる & 不要なので、カラムの中にある時だけ限定。
	//         (現状では.arkb-boxLinkブロックを単体で使うことはできないが、5.9のスタイルパネル内のみ。）
	.ark-block-boxLinks & {
		height: 100%; // read more の位置を下側に揃えるために必要。
	}
}

.arkb-boxLink__figure {
	position: relative;
	margin: 0;
	overflow: hidden;
}

.arkb-boxLink__img {
	display: block;
	width: 100%;
}

[data-arkb-linkbox]:hover > .arkb-boxLink__inner,
a.arkb-boxLink__inner:hover {

	// box-shadow: 0 4px 32px -8px rgba(0, 0, 0, .1);
	box-shadow: 0px 4px 24px -8px rgba(0, 0, 0, .08), 0px 16px 40px -16px rgba(0, 0, 0, .15);

	.arkb-boxLink__bg {
		opacity: .75;
	}

	.arkb-boxLink__more__svg {
		transform: translateX(4px);
	}
}


.arkb-boxLink__figure.is-fixed-ratio {
	// padding-top: var(--ark-thumb_ratio, 56.25%);

	&::before {
		display: block;
		width: 100%;
		height: 0;
		padding-top: var(--ark-thumb_ratio, 56.25%);
		content: "";
	}

	.arkb-boxLink__img {
		position: absolute;
		top: 0;
		left: 0;
	}
}

// .arkb-boxLink__icon {}

.arkb-boxLink__body {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 1.25rem 1rem;
}

.arkb-boxLink__content {
	margin-top: .5em;
	font-size: .9em;
}

.arkb-boxLink__more {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: auto 0 0;
	padding-top: 1rem;
	font-size: .75rem;
	line-height: 1;
	text-align: right;
}
