// 注釈
.arkb-small {
	font-size: .75em;
	opacity: .75;
}

// フォントサイズ
.arkb-fz-xs {
	font-size: .75em !important;
}

.arkb-fz-s {
	font-size: .9em !important;
}

.arkb-fz-l {
	font-size: 1.25em !important;
}

.arkb-fz-xl {
	font-size: 1.5em !important;
}

.arkb-fz-xxl {
	font-size: 2em !important;
}
