@font-face {
	font-weight: normal;
	font-family: arkb-icon;
	font-style: normal;
	src: url("../../assets/fonts/icomoon.eot?7ajy6");
	src:
		url("../../assets/fonts/icomoon.eot?7ajy6#iefix") format("embedded-opentype"),
		url("../../assets/fonts/icomoon.woff2?7ajy6") format("woff2"),
		url("../../assets/fonts/icomoon.ttf?7ajy6") format("truetype"),
		url("../../assets/fonts/icomoon.woff?7ajy6") format("woff"),
		url("../../assets/fonts/icomoon.svg?7ajy6#icomoon") format("svg");
	font-display: block;
}


// とりあえず .arkb-icon としての使い道はないので、オフ

/*
[class*="arkb-icon"]::before {
	font-weight: normal;

	font-family: "arkb-icon";
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	// speak: never;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-check::before {
	content: "\e900";
}

.icon-batsu::before {
	content: "\e901";
}

.icon-circle::before {
	content: "\e902";
}

*/
