$color_guide: rgba(120, 140, 180, .5);

:root {
	--arkb-shadow: 0 0 4px 1px rgba(0, 0, 0, .05), 0 1px 24px -8px rgba(0, 0, 0, .15);
	--arkb-shadow--s: 0 0 0 1px rgba(0, 0, 0, .01), 0 1px 6px 0 rgba(0, 0, 0, .1);
}

[class*="ark-block-"] {
	box-sizing: border-box;
}
