// .arkb-fullheight {
// 	height: calc(100vh - var(--ark-offset_y, 0px));
// }

.c-filterLayer.arkb-absLayer {
	z-index: 1;

	&::before {
		content: none;
	}
}

.arkb-absLayer {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.arkb-obf-cover {
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}

.arkb-obf-contain {
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: contain;
}
