.ark-block-slider {

	--arkb-slide-padding: 2em;
	--arkb-slide-padding--sp: 2em;
	--swiper-navigation-size: 32px;
	--swiper-theme-color: #000;

	@include sp {
		--swiper-navigation-size: 24px;
	}


	&[data-inner="article"] .ark-block-slider__body {
		max-width: var(--ark-article_width, 1000px);
	}

	.swiper-container {
		width: 100%;
		height: 100%;
	}

	// 前後ナビ
	&[data-direction="horizontal"] {

		.ark-block-slider__nav.-prev {
			left: 4px;
		}

		.ark-block-slider__nav.-next {
			right: 4px;
		}

		// .swiper-pagination-progressbar {
		// 	top: auto;
		// 	bottom: 0;
		// }
	}

	&[data-direction="vertical"] {

		.ark-block-slider__nav {
			right: auto;
			left: calc(50% - var(--swiper-navigation-size) / 2);
			margin: 0 !important;
			transform: rotate(90deg);
		}

		.ark-block-slider__nav.-prev {
			top: 4px;
			bottom: auto;
		}

		.ark-block-slider__nav.-next {
			top: auto;
			bottom: 4px;
		}

		.swiper-pagination-fraction {
			padding-right: 8px;
			text-align: right;
		}

		// .swiper-pagination-progressbar {
		// 	right: 0;
		// 	left: auto;
		// }
	}

	.ark-block-slider__nav {
		width: var(--swiper-navigation-size);
		height: var(--swiper-navigation-size);

		&::after {
			content: none;
		}

		svg {
			width: 100%;
			height: 100%;
			// fill: var(--arkb-slide-color, #000);
		}

		// 丸
		// ._ {
		// 	background: rgba(255, 255, 255, .5);
		// 	border-radius: 50%;

		// 	&.swiper-button-prev {
		// 		padding: 8px 8px 8px 4px;
		// 	}

		// 	&.swiper-button-next {
		// 		padding: 8px 4px 8px 8px;
		// 	}

		// 	&::after {
		// 		font-size: calc(var(--swiper-navigation-size) * .6);
		// 	}
		// }

		&.swiper-button-disabled {
			opacity: .3;
		}
	}


	// data-heightはrichスライダーにのみ付与
	// &[data-height="content"] {
	// 	--arkb-slider-height: auto;
	// }

	&[data-height="full"] {
		--arkb-slider-height: calc(100vh - var(--ark-offset_y, 0px));
	}

	&[data-height="custom"] {

		@include sp {

			.ark-block-slider__inner {
				height: var(--arkb-slider-height--sp);
			}
		}
	}

	// エディター側でタブリスト分下にずれるので、高さは__innerへ指定する
	.ark-block-slider__inner {
		height: var(--arkb-slider-height, auto);
	}

	.alignfull {
		left: 0;
		width: 100%;
	}

	//サムネイルスライダー
	.swiper-container.-thumb {
		box-sizing: border-box;
		height: 80px;
		margin: 8px 0;

		@include sp {
			height: 56px;
		}

		// 全体を左右にずらさない
		// .swiper-wrapper {
		// 	transform: none !important;
		// }

		.swiper-slide {
			flex: 1;
			width: auto;
			min-width: 80px;
			height: 100%;
			margin: 0 4px;
			cursor: pointer;
			opacity: .3;

			@include sp {
				min-width: 56px;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.swiper-slide-thumb-active {
			opacity: 1;
		}
	}

	.ark-block-slider__thumb {
		display: block;
		height: 100%;

	}

}


.ark-block-slider__slide {
	position: relative;
	height: 100%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.ark-block-slider__media {
	z-index: 0;

	.ark-block-slider__picture {
		display: block;
		width: 100%;
		height: 100%;
	}

	.ark-block-slider__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.ark-block-slider__color {
	z-index: 1;
}

.ark-block-slider__body {
	position: relative;
	z-index: 2;
	display: flex;
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;

	&[data-content="top-left"] {
		align-items: flex-start;
		justify-content: flex-start;
	}

	&[data-content="top-center"] {
		align-items: flex-start;
		justify-content: center;
		text-align: center;
	}

	&[data-content="top-right"] {
		align-items: flex-start;
		justify-content: flex-end;
		text-align: right;
	}

	&[data-content="center-left"] {
		align-items: center;
		justify-content: flex-start;
	}

	&[data-content="center-center"] {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&[data-content="center-right"] {
		align-items: center;
		justify-content: flex-end;
		text-align: right;
	}

	&[data-content="bottom-left"] {
		align-items: flex-end;
		justify-content: flex-start;
	}

	&[data-content="bottom-center"] {
		align-items: flex-end;
		justify-content: center;
		text-align: center;
	}

	&[data-content="bottom-right"] {
		align-items: flex-end;
		justify-content: flex-end;
		text-align: right;
	}
}

.ark-block-slider__bodyInner {
	width: 100%;
	padding: var(--arkb-slide-padding);

	@include sp {
		padding: var(--arkb-slide-padding--sp);
	}
}

// object-position
.ark-block-slider__video,
.ark-block-slider__img {
	object-position: var(--arkb-object-position, center);

	@include sp {
		object-position: var(--arkb-object-position--sp, center);
	}
}
