@import "../../../scss/mixin/media";

.ark-block-container {
	--arkb-gap: 1rem;
	--arkb-padding: 0;
	display: block;
	box-sizing: border-box;

	&:where(.has-background) {
		--arkb-padding: 1.5rem 1.75em;
	}

	&[data-flex] {
		display: flex;
		gap: var(--arkb-gap);
	}

	&[data-flex="vertical"] {
		flex-direction: column;
	}

	&:not(.has-inner) {
		padding: var(--arkb-padding);
	}

	&:where(.alignfull) {

		&.has-inner {
			padding-right: var(--ark-padding--container, 0px);
			padding-left: var(--ark-padding--container, 0px);
		}

		> .ark-block-container__inner {
			max-width: var(--ark-width--article);
			margin: 0 auto;
		}
	}
}

.ark-block-container__inner {
	padding: var(--arkb-padding);

	[data-flex] > & {
		display: inherit;
		flex-direction: inherit;
		flex-wrap: inherit;
		gap: inherit;
		align-items: inherit;
		justify-content: inherit;
		width: 100%;
	}
}
