.ark-block-section {

	// ブロック選択時の青線を上に
	&::after {
		z-index: 10 !important;
	}

	&.has-child-selected,
	&.is-selected {

		&:not([data-height="content"]) .ark-block-section__bodyInner {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				border: dashed 1px currentColor;
				opacity: .3;
				content: "";
			}

		}
	}

	.ark-block-section__selectorPreview {
		position: absolute;
		top: 4px;
		right: 4px;
		z-index: 99;
		padding: 6px;
		color: #000;
		font-weight: normal;
		font-size: 10px;
		font-family: Menlo, Consolas, monaco, monospace;
		line-height: 1;
		background-color: rgba(#fcfcfc, .65);
		border-radius: 5px;
		box-shadow: 0 0 4px rgba(#000, .1);
		transition: background-color .25s, font-size .25s;

		&:empty {
			display: none;
		}

		&:hover {
			font-size: 14px;
			background-color: rgba(#fcfcfc, .85);
		}
		// .__id {}
		// .__class{}
	}
}

.ark-block-section__bodyInner {

	>.wp-block {
		max-width: 100%;
		// margin-right: 0;
		// margin-left: 0;
	}
}

.ark-block-section__bg {
	height: 100% !important;
}


.arkb-btns--svg {
	display: flex;

	.components-button {
		flex: 1;
		height: auto;
		padding: 6px !important;
		color: #424448;
		background: #fff !important;
		border: solid 2px #fff;
		border-radius: 4px;
		box-shadow: inset 0 0 0 2px currentColor !important;

		svg {
			display: block;
			width: 100%;
			color: inherit;
			fill: currentColor;
		}
	}

	.is-primary.components-button {
		color: var(--wp-admin-theme-color) !important;
		// background: #fff;
	}

	&.-bottom {

		svg {
			transform: rotate(-180deg);
		}
	}
}
