.ark-block-section {
	// ブロック選択時の青線を上に
	&::after {
		z-index: 10 !important;
	}

	.ark-block-section__bg.u-only-pc {

		@include pc {
			opacity: 1;
		}

		@include sp {
			opacity: 0;
		}
	}

	.ark-block-section__bg.u-only-sp {

		@include pc {
			opacity: 0;
		}

		@include sp {
			opacity: 1;
		}
	}

	&.has-child-selected,
	&.is-selected {

		&:not([data-height="content"]) .ark-block-section__bodyInner {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				border: dashed 1px currentColor;
				opacity: .3;
				content: "";
			}

		}
	}
}

.ark-block-section__bodyInner {

	> .wp-block {
		max-width: 100%;
		// margin-right: 0;
		// margin-left: 0;
	}
}

.ark-block-section__bg {
	height: 100% !important;
}


.arkb-btns--svg {

	display: flex;

	.components-button {
		flex: 1;
		height: auto;
		padding: 6px !important;
		color: #424448;
		background: #fff !important;
		border: solid 2px #fff;
		border-radius: 4px;
		box-shadow: inset 0 0 0 6px currentColor !important;

		svg {
			display: block;
			width: 100%;
			color: inherit;
			fill: currentColor;
		}
	}

	.is-primary.components-button {
		color: var(--wp-admin-theme-color) !important;
		// background: #fff;
	}

	&.-bottom {

		svg {
			transform: rotate(-180deg);
		}
	}
}
