// ブロック追加ボタン


.arkb-columns > .block-editor-block-list__layout,
.ark-block-accordion,
.ark-block-step,
.ark-block-timeline,
.ark-block-dl,
.ark-block-faq {

	& > .block-list-appender {
		flex-basis: 100% !important;
		padding: 8px;
	}
}

.ark-block-accordion,
.ark-block-step,
.ark-block-timeline,
.ark-block-dl,
.ark-block-faq {

	&:not(.is-selected):not(.has-child-selected) > .block-list-appender {
		display: none;
	}
}
