// mt
.u-arkb--mt--0 {
	margin-top: 0 !important;
}

.u-arkb--mt--5 {
	margin-top: .5em !important;
}

.u-arkb--mt--10 {
	margin-top: 1em !important;
}

.u-arkb--mt--15 {
	margin-top: 1.5em !important;
}

.u-arkb--mt--20 {
	margin-top: 2em !important;
}

.u-arkb--mt--25 {
	margin-top: 2.5em !important;
}

.u-arkb--mt--30 {
	margin-top: 3em !important;
}

.u-arkb--mt--40 {
	margin-top: 4em !important;
}


// mb
.u-arkb--mb--0 {
	margin-bottom: 0 !important;
}

.u-arkb--mb--5 {
	margin-bottom: .5em !important;
}

.u-arkb--mb--10 {
	margin-bottom: 1em !important;
}

.u-arkb--mb--15 {
	margin-bottom: 1.5em !important;
}

.u-arkb--mb--20 {
	margin-bottom: 2em !important;
}

.u-arkb--mb--25 {
	margin-bottom: 2.5em !important;
}

.u-arkb--mb--30 {
	margin-bottom: 3em !important;
}

.u-arkb--mb--40 {
	margin-bottom: 4em !important;
}


.u-arkb--ta--c {
	text-align: center;
}
