.arkb-styleBtns {
	display: flex;
	flex-wrap: wrap;
	margin-left: -8px;
	row-gap: 8px;
}

.arkb-styleBtn {
	width: calc(50% - 8px);
	margin: 0;
	margin-left: 8px;

	>.components-button {
		display: none;
	}
}

.arkb-styleBtn__inner {
	display: block;
	padding: 6px;
	border-radius: 3px;
	// box-shadow: 0 0 0 1px #868d94;

	&[data-selected="true"] {
		box-shadow: 0 0 0 2px #007cba;
	}

	&:hover {
		background: #f3f4f5;
	}
}

.arkb-styleBtn__body {
	display: block;
	padding: 5px 8px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #eceef0;

	.arkb-styleBtn__preview {
		width: 125%;
		// height: 48px;
		transform: scale(.8);
		transform-origin: 0 50%;
		pointer-events: none;
	}
}

.arkb-styleBtn__title {
	display: block;
	margin-top: 8px;
	font-size: 10px;
	line-height: 1;
	text-align: center;
}
