
.ark-block-timeline {

	.ark-block-timeline__head,
	.ark-block-timeline__label {
		width: 100%;
	}

	.ark-block-timeline__item {
		margin: 0 !important;
	}

	.ark-block-timeline__title:empty {
		display: block;
	}

	// .ark-block-timeline__item:not(.is-selected):not(.has-child-selected) {
	&:not(.is-selected):not(.has-child-selected) {

		.ark-block-timeline__title.is-empty-true {
			display: none;
		}
	}
}

