
[data-type="arkhe-blocks/restricted-area"] {
	--arkb-guid-offset: -6px;

	[data-align="full"] > & {
		--arkb-guid-offset: 0px;
	}

	&::after {
		top: var(--arkb-guid-offset) !important;
		right: var(--arkb-guid-offset) !important;
		bottom: var(--arkb-guid-offset) !important;
		left: var(--arkb-guid-offset) !important;
	}

	&:not(.is-selected)::after {
		border: dashed 1px $color_guide;
	}

	.arkb-parentSelector {
		position: absolute;
		top: var(--arkb-guid-offset);
		right: var(--arkb-guid-offset);
		z-index: 10;
		display: none;
		padding: 2px;
		color: #fff;
		font-size: 10px;
		background-color: #1b1a1a;
		border: solid 1px #fff;
		border-radius: 3px;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
		cursor: pointer;
		opacity: .65;

		&:hover {
			opacity: 1;
		}

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: currentColor;
		}
	}

	&.has-child-selected > .arkb-parentSelector {
		display: block;
	}

}

.arkb-control--dateTimePicker {

	.components-base-control__field {
		display: flex;
		align-items: center;
	}

	.components-base-control__label {
		margin-right: 8px;
		margin-bottom: 0;
	}

	.components-button svg {
		margin-right: 4px;
	}
}

.arkb-control--dash {
	margin: -12px auto 12px;
	padding-right: 1em;
	writing-mode: vertical-rl;
}


.arkb-btns--limtPageType.components-button-group {
	display: flex;

	.components-button {
		flex-basis: 50%;
		font-size: 13px;

		svg {
			width: 20px;
			height: 20px;
			margin-right: 4px;
		}
	}
}

.arkb-checkboxes.-columns {

	.components-base-control__field {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
	}

	.components-base-control__label {
		flex-basis: 100%;
	}

	.components-checkbox-control {
		flex-basis: 50%;
	}
}


.arkb-popover--datetime {

	.components-datetime {
		padding: 16px; // 6.1からなくなったので6.0までと同じ値を追加
	}
}
