@import "../../../scss/mixin/media";

.ark-block-timeline {

	// アイコン利用でシェイプが大きくなってもいいように
	padding-left: 6px;
}

.ark-block-timeline__item {
	position: relative;
	margin: 0;
	padding: .5rem 0 1rem 32px;

	&::before {
		position: absolute;
		top: 0;
		left: 7px;
		display: block;
		height: calc(100%);
		border-left: 2px solid var(--ark-color--border, rgba(200, 200, 200, .5));
		content: "";
	}
}

.ark-block-timeline__head {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	margin-left: -32px;
}

.ark-block-timeline__shape {
	position: relative;
	display: block;
	flex-shrink: 0;
	box-sizing: border-box; // エディター用
	width: 16px;
	height: 16px;
	margin-right: 16px;
	color: var(--ark-color--main, inherit);
	background-color: #fff;
	border: solid 2px currentColor;
	border-radius: 50%;

	// &::before {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 0;
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	border-radius: inherit;
	// 	box-shadow: 0 0 0 6px currentColor;
	// 	opacity: .2;
	// 	content: "";
	// }

	&.-is-fill {
		background-color: currentColor;
	}

	&.-has-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 28px;
		height: 28px;
		margin-left: -6px;
	}
}

.ark-block-timeline__icon {
	width: 16px;
	height: 16px;
	color: inherit;
	font-size: 16px;
	line-height: 1;

	.-is-fill > & {
		color: #fff;
	}
}

.ark-block-timeline__label {
	font-size: .85em;
	opacity: .8;
}

.ark-block-timeline__title {
	margin-top: 1rem;
	font-weight: bold;
	font-size: 1.05em;

	&:empty {
		display: none;
	}
}

.ark-block-timeline__body {
	margin-top: 1rem;
	font-size: .95em;
}
