@charset "utf-8";

// mixin
@import "mixin/**";
@import "./common/**";
@import "../gutenberg/**/_common.scss";
@import "../gutenberg/**/_front.scss";

svg:not([fill]) {
	fill: currentColor;
}

// 余白をキープするエリア。
.ark-keep-mt {

	> * {
		margin-top: var(--ark-mt, 2rem);
	}
}

.ark-keep-mt--s {

	> * {
		margin-top: var(--ark-mt--s, 1rem);
		margin-bottom: 0;
	}

}

.ark-keep-mt,
.ark-keep-mt--s {

	> :first-child {
		margin-top: 0;
	}
}
