
@charset "utf-8";

/*
 * 管理画面で読み込むCSS
 */

@import "../../node_modules/react-notifications-component/dist/scss/notification";

// 設定ページ
$bg: #eff0f3;
$headline:#0d0d0d;
$text: #2a2a2a;
$white: #fffffe;


#wpwrap {
	color: $text;
	background: $bg;
}

#wpcontent {
	padding-left: 0;
}

#arkhe-menu {
	margin: 0;
	font-size: 14px;

	.nav-tab-wrapper {
		padding-top: 1em;
		border-bottom: none;
	}

	.nav-tab {
		margin: 0;
		padding: .5em 1.5em;
		background: $white;
		border: none;
		border-radius: 3px;
		opacity: .7;

		&.nav-tab-active {
			background: $bg;
			opacity: 1;
		}
	}

	.arkhe-menu__head {
		padding: 24px 24px 0;
		color: $text;
		background: $white;
	}

	h1.arkhe-menu__title {
		color: $headline;
		font-size: 2em;
	}

}

.arkhe-menu__body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;

	.rnc__base {
		top: 0;
		left: 0;
	}

	.rnc__notification-container--top-left {
		position: fixed;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.arkhe-menu__section {

	margin-top: 3em;

	&[data-disabled="true"] {

		.arkhe-menu__section__inner {
			position: relative;

			&::before {
				position: absolute;
				top: -2px;
				right: -2px;
				bottom: -2px;
				left: -2px;
				z-index: 99;
				background-color: rgba(#fff, .1);
				background-size: 8px 8px;
				backdrop-filter: blur(2px);
				content: "";
			}
		}

		.__onlyProMessage {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 100;
			padding: .5em 1em;
			color: #fff;
			font-size: 16px;
			line-height: 1;
			background-color: #000;
			border-radius: 2em;
			box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
			transform: translateX(-50%) translateY(-50%);
		}
	}

	// h2
	.arkhe-menu__section__title {
		position: relative;
		margin: 0 0 1em;
		padding: 8px 12px;
		padding-left: 1.5em;
		color: $headline;
		font-size: 1.5em;

		&::before {
			position: absolute;
			top: calc(50% - .5em - 1px);
			left: 0;
			width: 1em;
			height: 1em;
			background: currentColor;
			border: solid 2px #fff;
			box-shadow: 0 0 0 1px #000;
			transform: scale(.6) rotate(45deg);
			content: "";
		}
	}

	.__h3 {
		position: relative;
		padding-left: 1.2em;
		font-size: 1.2em;

		&::before {
			position: absolute;
			top: calc(50% - .5em);
			left: 0;
			width: 1em;
			height: 1em;
			background: currentColor;
			-webkit-transform: scale(.5) rotate(45deg);
			transform: scale(.5) rotate(45deg);
			content: "";
		}
	}

	// .arkhe-menu__section__help{}

	.arkhe-menu__section__inner {

		&[data-style="box"] {
			padding: 2em;
			background: $white;
			box-shadow: 0 0 8px -2px rgba(0, 0, 0, .1);

		}
		display: block;

		> *:first-child {
			margin-top: 0 !important;
		}
	}
}


.arkhe-menu__field {

	margin-top: 24px;

	.arkhe-menu__description {
		margin-top: 8px;
		margin-left: 8px;
		font-style: italic;
		opacity: .8;
	}

	&.-text {
		display: flex;

		.arkhe-menu__label {
			display: block;
			min-width: 12em;
		}
	}


	&.-textarea {

		textarea {
			margin-left: 8px;
		}

		.arkhe-menu__label {
			display: block;
			margin-bottom: 8px;
		}

		.large-text {
			max-width: 800px;
		}
	}

	&.-codemirror {

		// 実際表示されるのは.CodeMirror
		textarea,
		.CodeMirror {
			box-sizing: border-box;
			width: 100%;
			height: 50vh;
			min-height: 25vh;
			font-size: 14px;
			border: 1px solid #ddd;
		}
	}


	&.-radio {

		.arkhe-menu__label {
			display: block;
			padding: 8px 0;
		}
	}

	&.-checkbox {
		font-size: inherit;

		+ .-checkbox {
			margin-top: 16px;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}
}

.arkhe-menu__customFormat {

	margin-bottom: 2em;

	@media (min-width: 783px) {
		display: flex;
		flex-wrap: wrap;

		.arkhe-menu__field + .arkhe-menu__field {
			margin-left: 2em;
		}
	}

	.__label {
		width: 100%;
	}

	.arkhe-menu__field {
		display: flex;
		align-items: center;
		// width: 50%;
		margin-left: 1em;

		.arkhe-menu__label {
			display: block;
			min-width: 4em;
			margin-right: 1em;
		}

		.arkhe-menu__item {

			.components-base-control__field {
				margin-bottom: 0;
			}

			input {
				max-width: 12em;
			}
		}
	}
}

.arkhe-menu__submit {
	margin-top: 30px;
}

.arkhe-menu-savingLayer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .2;

	.components-spinner {
		margin: 0;
		transform: scale(1.5);
	}
}
